[submodule "src/github.com/cloudfoundry-community/go-cfclient"]
	path = src/github.com/cloudfoundry-community/go-cfclient
	url = https://github.com/cloudfoundry-community/go-cfclient.git
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
[submodule "src/github.com/pkg/errors"]
	path = src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "src/code.cloudfoundry.org/gofileutils"]
	path = src/code.cloudfoundry.org/gofileutils
	url = https://github.com/cloudfoundry/gofileutils
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net/
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = https://github.com/golang/oauth2/
[submodule "src/github.com/Masterminds/semver"]
	path = src/github.com/Masterminds/semver
	url = https://github.com/Masterminds/semver
[submodule "src/code.cloudfoundry.org/cfhttp"]
	path = src/code.cloudfoundry.org/cfhttp
	url = https://github.com/cloudfoundry/cfhttp
